</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <%  let date = new Date();  %>
  <%  let year = date.getYear() - 100;  %>
  <p>Copyright © 20<%= year %></p>
</footer>
</body>

</html>